.card {
  border: 1px solid #f3f3f3;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  .plus {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  span {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  b {
    font-size: 13px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
}

.cardButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPrise {
  display: flex;
  flex-direction: column;
}

//.button {
//  box-sizing: border-box;
//  background: #ffffff;
//  border: 1px solid #f2f2f2;
//  border-radius: 8px;
//  height: 32px;
//  width: 32px;
//  cursor: pointer;
//}